* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    transition: .2s;
    font-family: Arial, sans-serif;
}

.main {
    padding-top: 170px;
    min-width: 330px;
}

.container {
    width: 100%;
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}

@media (width<=1024px) {
    .main {
        padding-top: 90px;
    }
}