.slider{
  max-width: 1440px;
  overflow: hidden;
  margin: 0 auto 20px;
  max-height: 420px;
  position: relative;
  border-radius: 15px;
&__line{
  display: flex;
  align-items: center;
  transition: all 1s;
  
}

&__btn{
  cursor: pointer;
position: absolute;
top: calc(50% - 24px);
outline: none;
border: none;
background:$white_color;
border-radius: 53%;

}

&__btn-prev{
rotate: 180deg;
left: 50px;
}


&__btn-next{
right: 50px;
}

&__wrapper{
  display: flex;
  justify-content: center;
  margin: 20px;
}

&__dot{
  width: 10px;
  height: 10px;
  border: 1px solid $card_btn_hover_colar;
  border-radius: 50%;
  background: $header_normal_colar;
  margin: 10px 5px;
  cursor: pointer;
}

&__dot:hover{
  background:$card_btn_active_colar;
}

}
.active-dot{
  background:$card_btn_active_colar;
  transform: scale(1.5);
}