.slider{
  max-width: 90%;
  overflow: hidden;
  margin: 0 auto;
  max-height: 360px;
  border-radius: 15px;


&__line{
  position: relative;
  display: flex;
  align-items: center;
  transition: all 1s;
}

&__btn-prev{
cursor: pointer;
position: absolute;
left: 6%;
top: 47%;
outline: none;
border: 0;
background: transparent;
rotate: 180deg;
}


&__btn-next{
  cursor: pointer;
position: absolute;
right: 6%;
top: 47%;
outline: none;
border: 0;
background: transparent;
}

&__wrapper{
  display: flex;
  justify-content: center;
}

&__dot{
  width: 10px;
  height: 10px;
  border: 1px solid palevioletred;
  border-radius: 50%;
  background-color: gray;
  margin: 10px 5px;
  cursor: pointer;
}

&__dot:hover{
  background-color: purple;
}

.active-dot{
  background-color: purple;
  transform: scale(1.5);
}}