*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    transition: .2s ;
    font-family: Arial,sans-serif;
}

@import 'variables';
@import 'fonts';
@import 'header';
@import 'main';
@import 'slider';
@import 'cards';
@import 'footer';
@import 'basket';
@import 'category';
@import 'footer';
@import 'modals/modal';
@import 'modals/map';
@import 'modals/side-catalog';
@import 'modals/login';
@import 'modals/chat'

