///////////Colors
$white_color: #fff;
$header_bg_color:linear-gradient(90deg,#cb11ab,#481173);
$header_traders_bg_color:linear-gradient(90deg,#bf5ae0,#a811da);
$header_problems_bg_color:#cb11ab;
$header_normal_colar: hsla(0,0%,100%,.6);
$header_catalog_colar: hsla(0,0%,100%,.4);
$header_search_bg_colar:rgba(240,240,243,.3);
$header_search_active:rgb(133, 133, 133);


$footer_bg_colar:#481173;
$footer_links_colar:hsla(0,0%,100%,.7);
$footer_info_colar:hsla(0,0%,100%,.8);
$footer_line_colar: hsla(0,0%,100%,.2);
///////////Font-Size

$small: 14px;



$normal: 18px;

$search: 20px;

$large: 24px;

//////////Font-Weight

$fat: 600;