///////////Colors
$white_color: #fff;
$black_color: #000;

$header_currency_color:#f6f6fa;
$header_bg_color:linear-gradient(90deg,#cb11ab,#481173);
$header_traders_bg_color:linear-gradient(90deg,#bf5ae0,#a811da);
$header_problems_bg_color:#cb11ab;
$header_normal_colar: hsla(0,0%,100%,.6);
$header_catalog_colar: hsla(0,0%,100%,.4);
$header_search_bg_colar:rgba(240,240,243,.3);
$header_search_active:rgb(133, 133, 133);
$header_search_catalog:#a0a0a4;
$header_currency_bg_color:hsla(0,0%,100%,.6);
$header_currency_shadow: rgba(0,0,0,.3);
$header_currency_shadow2: rgba(0,0,0,.15);


$card_btn_hover_colar:#e313bf;
$card_btn_active_colar:#7e156c;
$card_btn_inCort_colar:#067a23;
$card_btn_inCort2_colar:#54b47c;
$card_btn_basket-color: rgb(204, 204, 204);
$card_btn_basket-color2:  rgb(187, 187, 187);

$footer_bg_colar:#481173;
$footer_links_colar:hsla(0,0%,100%,.7);
$footer_info_colar:hsla(0,0%,100%,.8);
$footer_line_colar: hsla(0,0%,100%,.2);


$modal_colar: rgba(0, 0, 0, 0.5);
$modal_map_btn_border_colar:rgba(203,17,171,.15);
$modal_map_btn_border_active_colar:#cb11ab;
$modal_side-menu_color:#f4f0f9;

$chat_window_shadow_color:rgba(0,0,0,.2);
$chat_window_body_color:#e8dbe6;
$chat_window_hello_color:#dac4d6;
$chat_window_question_color:#335094;
$chat_window_question-bg_color: #c2c3d7;

$tab-bar_shadow_color:rgba(0,0,0,.1);
$tab-bar_icons_color: #ccc;

$searh_bg_color: #f0f0f0;

$scrol-bar_thumb:#d1cfd7;
///////////Font-Size


$extra_small:13px;

$small: 14px;

$middle: 16px;

$normal: 18px;

$search: 20px;

$large: 24px;

$extra-large: 36px;

$gaint:48px;
//////////Font-Weight

$regular: 400;

$fat: 600;