.cards-modal{
    position: fixed;
    height: 660px;
    width: 500px;
    top: calc(50% - 330px );
    left: calc(50% - 250px );
    background: $white_color;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    img {
        width: 100%;
        vertical-align: top;
    }
}

.cards-active{
    visibility: visible;
    opacity: 1; 
}