
.side-catalog {
    
    &__content{
    position: absolute;
    bottom: 0;
    left: -318px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    
    }
    &__list {
        list-style: none;
        max-height: calc(100% - 133px);
        overflow-y: auto;
        padding-right: 0;
        li{
            padding: 16px 40px 16px 56px;
            cursor: pointer;
            background-color: $white_color;
            position: relative;
            &:hover{
                background-color: $modal_side-menu_color;  
            }
            &::after{
                content: "";
                position: absolute;
                display: block;
                top: 16px;
                right: 20px;
                width: 10px;
                height: 10px;
                border-top: 1px solid $header_search_active;
                border-right: 1px solid $header_search_active;
                transform: rotate(45deg);
            }
        }
        span{
            padding-right:60px;
        }
        &::-webkit-scrollbar{
            width: 6px;
            height: 6px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 6px;
            background: $scrol-bar_thumb;
            border: 0 solid;
        }
        &::-webkit-scrollbar-track {
            background: $white_color;
        }
    }
}
.side-catalog__content-active{
    left: 0;
    opacity: 1;
    visibility: visible;
}

.modal-side {
    position: absolute;
    top: 133px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $modal_colar;
    opacity: 0;
    visibility: hidden;
    transition: .8s ease;
    cursor: pointer;   
    &__content {
        background: $white_color;
        border-radius: 16px;
        opacity: 0;
        visibility: hidden;
        transition: .8s ease;
        cursor:auto;
    }
}

.modal-visibl{
    opacity: 1;
    visibility: visible;
}